$default_transition: 300ms;

$dodgerblue: #1873cc;

$dodgerblue-light-xl: rgba(30, 144, 255, 0.1);

$orange: rgba(248, 165, 27, 1);

$white: rgb(255,255,255);

$border-color: rgba(122, 122, 122, 0.33);

$border-color: #dadce0;

$draggedColor: rgba(122,122,122,.74);

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}