@import './globals.scss';

.rr-sourcecode {
  white-space: pre-wrap;

  ul,
  ul li {
    list-style: none;
    list-style-type: none;
  }

  .search {
    width: 100%;
    margin-bottom: 20px;

    input {
      width: 100%;
      min-height: 30px;
      line-height: 30px;
      border: 1px solid $border-color;
      box-sizing: border-box;
      padding: 10px 20px;
      border-radius: 5px;
    }
  }

  .single-code-line {
    display: block;

    .line-code {
      width: 100%;
    }
  }

  .single-code-line.flex {
    display: flex;

    .line-number {
      width: 50px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      user-select: none;
    }

    .line-code {
      width: calc(100% - 50px);
    }
  }
}

.rr-sourcecode.dark{
    background-color: #1E1E1E;

    .tagStart,
    .tagEnd,
    .slash,
    .equal,
    .quote-double,
    .quote-single {
        color: #93DDF7
    }
    .tagName,
    .key{
        color: #FF7767;
    }

    .attributeValue{
        color: #B5EE85;
    }

    .not-filtered,
    .no-match,
    .value{
        color: rgb(255,2552,255);
    }

    .line-number{
        color: #C2C2C2;
    }
    .variable-dollar{
      color: #f4459f;
    }

    .bracket{
      color: violet;
    }
    .functionArguments{
      color: orange;
    }
    .variableName,
    .attributeName,
    .functionName{
      color: mediumseagreen;
    }
    .bracketValue{
      color: pink;
    }
}

.rr-sourcecode.light{
    
}