@import "./globals";

.Components{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    white-space: pre-wrap;

    .component-link{
        box-sizing: border-box;
        padding: 10px 15px;
        background-color: #2D3748;
        color: rgba(242,242,242,1);
        margin: 0 15px 15px 0;
        border-radius: 5px;
        font-size: 0.87rem;
        text-decoration: none;
        display: inline-block;
        transition-duration: 300ms;
    }

    .component-link-active{
        background-color: $dodgerblue;
    }

    .component-link:hover{
        color: rgba(222,222,222,1);
    }
}