.Generator{
    margin-top: 90px;
    box-sizing: border-box;
    padding: 0 10px 20px 10px;
    width: 100%;
    min-height: 100vh;
    height: auto;

    .h1-example{
        width: 100%;
        font-size: 1.1rem;
        padding: 10px 0;
        margin: 10px 0;

        i{
            margin: 0 20px 0 10px;
        }
    }

    .code{
        padding: 10px;
    }

    .description{
        font-size: 0.87rem;
        letter-spacing: 0.078rem;
        box-sizing: border-box;
        padding: 0 10px 10px 10px;
        line-height: 30px;
    }

    .a-description{
        color: $text-color;
        text-decoration: none;
        display: block;
        padding: 5px 0;
        line-height: 20px;
        transition-duration: $default-transition;
    }

    .a-description:hover{
        color: rgb(69,69,69);
    }

    .rr-table{
        width: 100%;

        li{
            width: 100%;
            min-height: 30px;
            line-height: 30px;
            box-sizing: border-box;
            padding: 5px 10px;
        }

        .span,
        .span-title{
            display: block;
            font-size: 0.87rem;
            color: $text-color;
        }

        .span-1,
        .span-2{
            width: 15%;
            margin-left: 5px;
        }

        .title{
            @media screen and (min-width: $media-break) {
                display: flex;
            }
            display: none;

            span{
                font-weight: bold;
            }
        }

        .span-title{
            margin-left: 5px;
            font-weight: bold;
        }
    }
    
    .rr-table.rr-table-website{
        width: calc(100% - 20px);

        .span-1{
            overflow: hidden;
            word-wrap: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: 5px;
        }

        .span-1,
        .span-2,
        .span-3{
            border: none;
        }

        .span-2,
        .span-3,
        .span-4{
            margin-left: 5px;
        }

        .span-1,
        .span-2,
        .span-3,
        .span-4{
            width: calc(100% - 10px);
        }
    }

    .rr-table.rr-table-releases{
        width: calc(100% - 20px);

        .span-1{
            overflow: hidden;
            word-wrap: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: 5px;
        }

        .span-1,
        .span-2{
            border: none;
        }

        .span-2{
            margin-left: 5px;
        }

        .span-1,
        .span-2{
            width: calc(100% - 10px);
        }
    }

    @media screen and (min-width: $media-break) {
        .rr-table.rr-table-releases{
            width: 100%;

            .span-2{
                border-right: none;
            }

            .span-1{
                width: calc(40% - 20px);
            }

            .span-2,
            .span-3{
                width: calc(60% - 20px);
            }
        }
    }

    @media screen and (min-width: $media-break) {
        .rr-table.rr-table-website{
            width: 100%;

            .span-1,
            .span-2,
            .span-3{
                border-right: 1px solid rgba(222,222,222,.5);
            }
    
            .span-2,
            .span-3,
            .span-4{
                margin-left: 20px;
            }
    
            .span-1{
                width: calc(20% - 20px);
                min-width: calc(20% - 20px);
            }

            .span-2,
            .span-3{
                width: calc(15% - 20px);
                min-width: calc(15% - 20px);
            }
    
            .span-2{
                width: calc(50% - 40px);
                min-width: calc(50% - 40px);
            }
    
            .title{
                display: flex;
            }
        }
    }

    .no-data{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;

        p{
            width: 200px;
            height: 100%;
            border-radius: 3px;
            background-color: rgb(222,222,222);
            display: inline-block;
            color: rgb(122,122,122);
            font-size: 0.87rem;
        }
    }
    
}