.Generator{
    margin-top: 70px;
    box-sizing: border-box;
    padding: 20px 10px;
    width: 100%;
    min-height: 100vh;
    height: auto;

    .h1-example{
        width: 100%;
        font-size: 1.1rem;
        padding: 10px 0;
        margin: 10px 0;

        i{
            margin: 0 20px 0 10px;
        }
    }

    .code{
        padding: 10px;
    }

    .description{
        color: $text-color;
        font-size: 0.87rem;
        letter-spacing: 0.078rem;
        box-sizing: border-box;
        padding: 10px;
    }
}