@import "./globals";

.Home {
  width: 100vw;
  min-height: 100vh;

  .main-title-box {
    width: 100vw;
    min-height: calc(70vh - 60px);
    display: flex;
    background-color: $white;

    .main-title {
      margin: 5vh auto;

      h1 {
        font-size: 2.3rem;
        letter-spacing: 0.07rem;
      }

      h1,
      h2,
      i {
        display: block;
        color: #72777a;
        margin: 20px auto;
        text-align: center;
      }

      h2{
        font-size: 1.2rem;
      }

      i {
        margin: 10vh auto;
        font-size: 7rem;
        color: $dodgerblue;
      }
    }
  }

  .rr-cards {
    max-height: unset;
    max-width: 1400px;
    box-sizing: border-box;
    padding: 0 20px;

    .group {
      @media screen and (min-width: $media-break) {
        flex-direction: row;
      }

      flex-direction: column;

      .card {
        border: none;
        transition-duration: $default_transition;

        @media screen and (min-width: $media-break) {
          width: 250px;
          margin: 30px auto;
        }

        width: 80%;
        margin: 10px auto;

        .title {
          color: $text-color;
          text-align: center;
          background-color: transparent;
          line-height: 40px;
          font-size: 1.1rem;
          font-weight: 400;
          border-bottom: 2px solid rgba(222,222,222,.55);

          i {
            display: block;
            font-size: 3rem;
            margin: 20px auto;
          }
        }

        .content {
          width: 90%;
          margin: 20px 5%;
          color: $text-color;
          text-align: center;
          font-size: 1.36rem;
          letter-spacing: 0.122rem;
          line-height: 30px;
        }
      }

      .card-middle {
        @media screen and (min-width: $media-break) {
          margin: 30px 5%;
        }
      }
    }
  }

  .example {
    @media screen and (min-width: $media-break) {
      flex-direction: row;
    }
    flex-direction: column;
    max-width: 1400px;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 0 20px;

    .example-1,
    .example-2 {
      @media screen and (min-width: $media-break) {
        width: 50%;
        margin: 20px 0;
      }

      width: calc(100% - 40px);
      margin: 20px;
      transition-duration: $default_transition;
    }

    .example-2 {
      @media screen and (min-width: $media-break) {
        margin-left: 50px;
        margin-right: 0px;
      }

      height: 100%;
      margin: 20px;
      transition-duration: $default_transition;
    }
  }

  .install-buttons {

    .install {
      @media screen and (min-width: $media-break-s) {
        width: 50%;
        flex-direction: row;
      }

      width: 100%;
      height: auto;
      flex-direction: column;

      .code {
        display: inline-block;
        padding: 3px 0;
      }

      .rr-sourcecode-install {
        .line-number,
        .line-code {
          min-height: 30px;
          line-height: 30px;
          margin: 0;
        }

        .line-code {
          width: 100%;
          padding: 0 20px;
          color: $white;
        }
      }
    }
  }

  .documentation {
    width: 100%;

    .button-action{
      background-color: $green;
      box-shadow: 0px 0px 3px $green;
    } 

    .button-action:hover{
      border: 1px solid $green;
    } 
  }
}
