.Content {
  .head {
    background-color: #1873cc;
    border-bottom: none;
  }
}

.Home {
  width: 100vw;
  min-height: 100vh;

  .main-title-box {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    background-image: url("http://localhost:3000/public/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $dodgerblue;

    .main-title {
      margin: 5vh auto;

      h1 {
        font-size: 2rem;
        letter-spacing: 0.07rem;
      }

      h1,
      h2,
      i {
        display: block;
        color: $white;
        margin: 20px auto;
        text-align: center;
      }

      i {
        margin: 10vh auto;
        font-size: 6rem;
      }
    }
  }

  .rr-cards {
    max-height: unset;
    max-width: 1400px;

    .cards-group {
      @media screen and (min-width: $media-break) {
        flex-direction: row;
      }

      flex-direction: column;

      .card {
        transition-duration: $default_transition;

        @media screen and (min-width: $media-break) {
          width: 100%;
          margin: 30px auto;
        }

        width: calc(100% - 30px);
        margin: 10px;

        .title {
          color: $text-color;
          text-align: center;
          background-color: transparent;
          line-height: 40px;
          font-size: 1.46rem;
          font-weight: 400;

          i {
            @media screen and (min-width: $media-break) {
              display: block;
            }

            display: none;
            margin: 20px auto;
          }
        }

        .content {
          width: 90%;
          margin: 0 5%;
          color: $text-color;
          text-align: justify;
          font-size: 0.87rem;
          letter-spacing: 0.122rem;
          line-height: 30px;
        }
      }

      .card-middle {
        @media screen and (min-width: $media-break) {
          margin: 30px 5%;
        }
      }
    }
  }

  .example {
    @media screen and (min-width: $media-break) {
      flex-direction: row;
    }
    flex-direction: column;
    max-width: 1400px;
    margin: 20px auto;

    .example-1,
    .example-2 {
      @media screen and (min-width: $media-break) {
        width: 50%;
        margin: 20px 0;
      }

      width: calc(100% - 40px);
      margin: 20px;
      transition-duration: $default_transition;
    }

    .example-2 {
      @media screen and (min-width: $media-break) {
        margin-left: 50px;
        margin-right: 0px;
      }

      margin: 20px;
      transition-duration: $default_transition;
    }
  }

  .install-buttons {

    .install {
      @media screen and (min-width: $media-break-s) {
        width: 50%;
        flex-direction: row;
      }

      width: 100%;
      height: auto;
      flex-direction: column;

      .code {
        display: inline-block;
        padding: 3px 0;
      }

      .rr-sourcecode-install {
        .line-number,
        .line-code {
          min-height: 30px;
          line-height: 30px;
          margin: 0;
        }

        .line-code {
          width: 100%;
          padding: 0 20px;
          color: $white;
        }
      }
    }
  }

  .documentation {
    width: 100%;

    .button-action{
      background-color: $green;
      box-shadow: 0px 0px 3px $green;
    } 

    .button-action:hover{
      border: 1px solid $green;
    } 
  }
}
