.Content{
  .head{
    background-color: #1873CC;
    border-bottom: none;
  }
}

.Home {
  width: 100vw;
  min-height: 100vh;
  background-image: url("http://localhost:3000/public/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $dodgerblue;

  .main-title-box {
    width: 100vw;
    height: 50vh;
    display: flex;

    .main-title {
      margin: auto;

      h1 {
        font-size: 2rem;
        letter-spacing: 0.07rem;
      }

      h1,
      h2 {
        color: $white;
        margin: 20px auto;
        text-align: center;
      }
    }
  }
}
