@import "./reset";

@import "./colors";

@import "./globals";

@import "./keyframes";

@import "./content";

@import "./sidebar";

@import "./menu";

@import "./home";

@import "./footer";

@import "./generator";

@import "./rr-examples-website";

* {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica,
    Arial, sans-serif;
}

*::selection{
  background-color: $dodgerblue;
  color: $white;
}

#app {
  
  .ScrollTop{
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(29,29,29);

    i{
      display: block;
      line-height: 40px;
      text-align: center;
      color: $white;
    }

    i:hover{
      cursor: pointer;
    }
  }

  .icon-container {
    .rr-popupbox {
      float: right;

      .popup-box-icon {
        color: $white;
      }

      .box.top-right {
        @media screen and (min-width: $media-break-s){
          width: 300px;          
        }
        width: 220px;
        right: 20px;
        top: 55px;
        background-color: $white;

        h1 {
          font-weight: 400;
          color: #313435;
          font-size: 0.97rem;
          box-sizing: border-box;
          padding: 15px 10px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.0625);

          i {
            color: inherit;
            font-size: 0.97rem;
            margin-right: 10px;
          }
        }

        ul {
          list-style: none;
          margin: 0px;
          padding: 0px;

          li {
            margin: 0px;
            padding: 0px;
            position: relative;
            font-size: 0.87rem;
            color: $menu-color;
            letter-spacing: 0.2px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
            z-index: 1;
            transition-duration: $default_transition;
            height: 40px;
            line-height: 30px;
            box-sizing: border-box;
            padding: 5px 10px;
          }
        }

        li:hover {
          background-color: $dodgerblue;
          color: $white;
          cursor: pointer;
        }

        /* POPUP link to view all of current type */
        .popup-box-all {
          display: block;
          height: 50px;
          line-height: 30px;
          color: #7c8695;
          font-size: 0.923rem;
          box-sizing: border-box;
          padding: 10px 20px;
          text-align: center;
          transition-duration: $default_transition;
          text-decoration: none;

          i {
            font-size: 0.87rem;
            margin-left: 20px;
          }
        }

        .popup-box-all:hover {
          cursor: pointer;
          background-color: $message-blue;
          color: $white;
        }
      }
    }
  }

  .rr-sidebar {
    .logo-text {
      display: flex;
      height: 60px;
      text-decoration: none;
      color: $text-color;

      .logo {
        margin: 8px 10px 0 17px;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .text {
        display: flex;
        flex-direction: column;

        .long,
        .short {
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          word-wrap: none;
          text-overflow: ellipsis;
        }

        .long {
          margin: 13px 0 5px 5px;
          font-size: 0.923rem;
        }

        .short {
          margin-left: 5px;
          font-size: 0.644rem;
        }
      }
    }
  }

  .SideBar{
    transition-duration: $default_transition;
    
    .rr-menu-click-horizontal {
      height: calc(100% - 60px);
      overflow-x: hidden;
      overflow-y: hidden;
  
      .single-entry {
        border-radius: 0px;
        margin: 7px 10px;
        border: none;
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition-duration: $default_transition;
  
        .text,
        a {
          color: #7c8695;
          font-size: 0.87rem;
          letter-spacing: 0.0111rem;
          transition-duration: $default_transition;
        }

        .hasChildren{
          font-weight: bold;
        }
      }
    }
  
    .rr-menu-click-horizontal:hover {
      overflow-y: auto;
    }
  }

  .SideBar.SideBar-min{
    
    .text,
    a{
      font-size: 0.77rem !important;
      letter-spacing: 0.00511rem !important;
    }

    .long{
      font-size: 0.67rem !important;
    }
  }
}

.rr-clipboard{
  .rr-sourcecode{
    width: 100%;
    
    .code{
      padding: 5px;
    }
  }
}

.rr-sourcecode{
  width: calc(100% - 20px);

  .code{
    li{
      letter-spacing: 0.0144rem;
      font-size: 0.78rem;

      .line-code{
        min-height: 20px;
      }
    }
  }

  span{
    color: $white;
  }

  .tag-start,
  .tag-end,
  .slash,
  .equal,
  .quote{
      color: #93DDF7
  }

  .tag-name,
  .key{
      color: #49B095;
  }

  .attribute-value{
      color: #B5EE85;
  }

  .var,
  .object-property{
    color: #45A0E9;
  }

  .not-filtered,
  .no-match,
  .value{
      color: rgb(255,2552,255);
  }

  .line-number{
      color: #C2C2C2;
  }
  .variable-dollar{
    color: #F44567;
  }

  .bracket{
    color: #ccc;
  }

  .function-arguments{
    color: orange;
  }

  .variable-name,
  .attribute-name,
  .function-name{
    color: mediumseagreen;
  }

  .bracket-value{
    color: #ccc;
  }
}
