@import "./reset";

@import "./colors";

@import "./globals";

@import "./keyframes";

@import "./content";

@import "./sidebar";

@import "./menu";

@import "./home";

@import "./footer";

@import "./generator";

@import "./rr-examples-website";

* {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica,
    Arial, sans-serif;
}

*::selection{
  background-color: $dodgerblue;
  color: $white;
}

#app {

  .ScrollTop{
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(29,29,29);

    i{
      display: block;
      line-height: 40px;
      text-align: center;
      color: $white;
    }

    i:hover{
      cursor: pointer;
    }
  }

  .icon-container {
    .rr-popupbox,
    .rr-popupbox-fast-links {
      float: right;

      .popup-box-icon {
        color: $white;
      }

      .link{
        display: block;
        box-sizing: border-box;
        padding: 10px;
        margin: 10px 0;
        text-decoration: none;
        background-color: transparent;
        color: #7c8695;
        font-size: 0.87rem;
        letter-spacing: 0.0111rem;
        transition-duration: 200ms;
      }
      .link:hover{
        background-color: rgba(222,222,222,.22);
      }

      .box.top-right,
      .box.top-left {
        @media screen and (min-width: $media-break-s){
          width: 300px;          
        }
        width: 220px;
        right: 20px;
        top: 55px;
        background-color: $white;

        h1 {
          font-weight: 400;
          color: #313435;
          font-size: 0.97rem;
          box-sizing: border-box;
          padding: 15px 10px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.0625);

          i {
            color: inherit;
            font-size: 0.97rem;
            margin-right: 10px;
          }
        }

        ul {
          list-style: none;
          margin: 0px;
          padding: 0px;

          li {
            margin: 0px;
            padding: 0px;
            position: relative;
            font-size: 0.87rem;
            color: $menu-color;
            letter-spacing: 0.2px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
            z-index: 1;
            transition-duration: $default_transition;
            height: 40px;
            line-height: 30px;
            box-sizing: border-box;
            padding: 5px 10px;
          }
        }

        li:hover {
          background-color: $dodgerblue;
          color: $white;
          cursor: pointer;
        }

        /* POPUP link to view all of current type */
        .popup-box-all {
          display: block;
          height: 50px;
          line-height: 30px;
          color: #7c8695;
          font-size: 0.923rem;
          box-sizing: border-box;
          padding: 10px 20px;
          text-align: center;
          transition-duration: $default_transition;
          text-decoration: none;

          i {
            font-size: 0.87rem;
            margin-left: 20px;
          }
        }

        .popup-box-all:hover {
          cursor: pointer;
          background-color: $message-blue;
          color: $white;
        }
      }
    }

    .rr-popupbox-fast-links{
      float: left;
      margin: 0 15px;
    }
  }

  .rr-sidebar {
    .logo-text {
      display: flex;
      height: 60px;
      text-decoration: none;
      color: $text-color;

      .logo {
        margin: 8px 10px 0 7px;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .text {
        display: flex;
        flex-direction: column;

        .long,
        .short {
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          word-wrap: none;
          text-overflow: ellipsis;
        }

        .long {
          margin: 13px 0 5px 5px;
          font-size: 0.923rem;
        }

        .short {
          margin-left: 5px;
          font-size: 0.644rem;
        }
      }
    }
  }

  .SideBar{
    transition-duration: $default_transition;
    
    .rr-menu-click-horizontal {
      height: calc(100% - 60px);
      overflow-x: hidden;
      overflow-y: hidden;
      scrollbar-color: rgba(122,122,122,.88) transparent;
      scrollbar-width: thin;

      .single-entry {
        border-radius: 0px;
        margin: 5px 0px 0px 0px;
        border: none;
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition-duration: $default_transition;
  
        .text,
        a {
          color: #7c8695;
          font-size: 0.87rem;
          letter-spacing: 0.0111rem;
          transition-duration: $default_transition;
        }

        .child{
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
        }

        .hasChildren{
          font-weight: bold;
        }
      }
      .single-entry .hasChildren:hover{
        background-color: rgba(222,222,222,.22);
      } 
      .single-entry .child:hover{
        background-color: rgba(222,222,222,.22);
        border-top: 1px solid rgba(222,222,222,.66);
        border-bottom: 1px solid rgba(222,222,222,.66);
      } 
    }
  
    .rr-menu-click-horizontal:hover {
      overflow-y: auto;
    }
  }

  .SideBar.SideBar-min{
    
    .text,
    a{
      font-size: 0.77rem !important;
      letter-spacing: 0.00511rem !important;
    }

    .long{
      font-size: 0.67rem !important;
    }
  }
}

.rr-clipboard{
  .rr-sourcecode{
    width: 100%;
    
    .code{
      padding: 5px;
    }
  }
}

.rr-sourcecode{
  width: calc(100% - 20px);

  .code{
    li{
      letter-spacing: 0.0144rem;
      font-size: 0.78rem;

      .line-code{
        min-height: 20px;
      }
    }
  }

  span{
    color: $white;
  }

  .tag-start,
  .tag-end,
  .slash,
  .equal,
  .quote{
      color: #93DDF7
  }

  .tag-name,
  .key{
      color: #49B095;
  }

  .attribute-value{
      color: #B5EE85;
  }

  .var,
  .object-property{
    color: #45A0E9;
  }

  .not-filtered,
  .no-match,
  .value{
      color: rgb(255,2552,255);
  }

  .line-number{
      color: #C2C2C2;
  }
  .variable-dollar{
    color: #F44567;
  }

  .bracket{
    color: #ccc;
  }

  .function-arguments{
    color: orange;
  }

  .variable-name,
  .attribute-name,
  .function-name{
    color: mediumseagreen;
  }

  .bracket-value{
    color: #ccc;
  }
}

.rr-articles-production{
  .single-entry {
    min-height: 30px;
    margin: 10px 0;
    
    .rr-clipboard {
      margin: 0 10px;
    }

    .rr-sourcecode {
        width: 100%;

        ul{
          width: calc(100% - 20px);
          margin: 10px;
        }
      }
      
      .h1-example{
          margin: 0;
          padding: 0;
      }

    .title:hover{
        cursor: pointer;
    }
  }
}

#app.dark{
  .rr-custom-suggestion-website{
    input{
      background-color: #242526;
      color: rgb(172,172,172);
    }
    .suggestions-area .ul{
      background-color: #242526;

      .text-elipsis{
        color: rgb(172,172,172);
      }

      li:hover{
        .text-elipsis{
          color: $white;
        } 
      }
    }
  }

  .rr-input-suggestion-array,
  .rr-input-suggestion-object{
    .input{
      background-color: rgb(255,255,255);
    }
  }
  .head,
  .SidebarMinified.opened,
  .rr-sidebar{
    background-color: #242526; //rgb(0, 0, 0);
  }
  .action-icon{
    color: rgb(122,122,122);
  }
  .close-side-bar{
    border: 1px solid rgb(122,122,122);
  }
  .Home,
  .Home .main-title-box,
  .rr-cards,
  .ContentBody,
  .Content,
  .Footer{
    background-color: #18191A;
  }
  .font-input.title{
    background-color: #18191A;
  }
  .font-input.title,
  .ellipsis{
    color: $white !important;
  }
  .rr-input-animation .font-input,
  .rr-input-animation.focus .title{
    color: $dodgerblue;
  }
  .Home .main-title h1,
  .rr-cards .content,
  .title-border{
    color: $white;
  }
  .SideBar .rr-menu-click-horizontal .single-entry .text.child,
  .description,
  .text,
  .toggled,
  .title,
  .section p,
  .h1,
  .value,
  .next-page,
  .previous-page,
  .line-number,
  .section span{
    color: rgb(172,172,172);
  }
  .SideBar .rr-menu-click-horizontal .single-entry .text.hasChildren,
  .h1-example,
  .h1-title{
    color: $white;
  }
  .rr-cards .title i,
  .h1-example i,
  .a-description{
    color: $dodgerblue-light-l;
  }
  .rr-clipboard .button-action{
    background-color: $dodgerblue-light-l;
  }
  .a-description:hover,
  .arrow,
  .rr-text-writer,
  .rr-table-releases .title span,
  .rr-table-website .title span{
    color: $dodgerblue;
  }

  .ScrollTop{
    background-color: $dodgerblue;
  }
  .rr-sidebar-logo-text{
    border-bottom: none;
  }
  .rr-popupbox .box.top-right,
  .rr-popupbox-fast-links .box.top-left {
    background-color: #18191A;
  }
  .link:hover{
    background-color: $dodgerblue !important;
    color: $white !important;
  }
}

#app.code{

  .icon-container{
    .rr-popupbox .box.top-right{
      ul li:hover{
        background-color: #49B095;
        color: $white;
      }
    }
  }

  .rr-custom-suggestion-website{
    input{
      background-color: #1E1E1E;
      color: rgb(172,172,172);
    }
    .suggestions-area .ul{
      background-color: #1E1E1E;

      .text-elipsis{
        color: rgb(172,172,172);
      }

      li:hover{
        .text-elipsis{
          color: $white;
        } 
      }
    }
  }
  .rr-input-suggestion-array,
  .rr-input-suggestion-object{
    .input{
      background-color: rgb(255,255,255);
    }
  }
  .head,
  .SidebarMinified.opened,
  .rr-sidebar{
    background-color: #252526; 
  }
  .action-icon{
    color: rgb(122,122,122);
  }
  .close-side-bar{
    border: 1px solid rgb(122,122,122);
  }
  .Home,
  .Home .main-title-box,
  .rr-cards,
  .ContentBody,
  .Content,
  .Footer{
    background-color: #1E1E1E;
  }
  .font-input.title{
    background-color: #1E1E1E;
  }
  .font-input.title,
  .ellipsis{
    color: $white !important;
  }
  .rr-input-animation .font-input,
  .rr-input-animation.focus .title{
    color: $dodgerblue;
  }
  .Home .main-title h1,
  .rr-cards .content,
  .title-border{
    color: $white;
  }
  .SideBar .rr-menu-click-horizontal .single-entry .text.child,
  .description,
  .text,
  .toggled,
  .title,
  .section p,
  .h1,
  .value,
  .next-page,
  .previous-page,
  .line-number,
  .section span{
    color:  rgb(132,132,132);
  }
  .h1-example,
  .h1-title{
    color: $white;
  }
  .SideBar .rr-menu-click-horizontal .single-entry .text.hasChildren{
    color: rgb(172,172,172);
  }
  .rr-cards .title i,
  .h1-example i,
  .a-description{
    color: rgb(172,172,172);
  }
  .rr-clipboard .button-action{
    background-color: $dodgerblue-light-l;
  }
  .a-description:hover,
  .arrow,
  .rr-text-writer,
  .main-title i,
  .rr-table-releases .title span,
  .rr-table-website .title span{
    color: #49B095;
  }

  .ScrollTop,
  .suggestions li:hover{
    background-color: #49B095 !important;
  }
  .rr-sidebar-logo-text{
    border-bottom: none;
  }
  .rr-popupbox .box.top-right,
  .rr-popupbox-fast-links .box.top-left {
    background-color: #1E1E1E;
  }
  .link:hover{
    background-color: #49B095 !important;
    color: $white !important;
  }
}

.page-not-found-404{
  min-height: 100vh;

  .content-404{
    margin: 0 auto;
  }
}
