#app .Generator{
    // Cards
    .rr-cards {
        max-width: 1140px;
        margin: 0 auto;
        
        .card{
            width: calc(100% - 20px);
            margin: 10px;
        }
    }

    @media screen and (min-width: 1024px){
        .rr-cards {
            .card{
                width: 25% !important;
                margin: 30px calc(4% - 2px) !important;
            }
        }
    }
    // Cards scroll
    .section-cards-scroll{
        height: 300px;

        .rr-cards-scroll {
            max-width: 1140px;
            margin: 0 auto;
            
            .card{
                width: calc(100% - 20px);
                margin: 10px;
                
                .content{
                    height: 100px;
                }
            }
        }
    
        @media screen and (min-width: 1024px){
            .rr-cards-scroll {
                .card{
                    width: 25% !important;
                    margin: 30px calc(4% - 2px) !important;
                }
            }
        }
    }
    // Cards scroll callback
    .section-cards-scroll-callback{
        height: 500px;

        .rr-cards-scroll-callback {
            max-width: 1140px;
            margin: 0 auto;
            
            .cards-group{
             
                @media screen and (min-width: 1024px){
                    flex-direction: row;
                }
                
                flex-direction: column;

                .card{

                    @media screen and (min-width: 1024px){
                        width: 25%;
                        margin: 30px calc(4% - 2px);
                    }
    
                    width: calc(100% - 20px);
                    margin: 10px;
                    
                    .content{
                        height: 100px;
                    }
                }
            }
        }
    }

    .rr-revolution-button-clipboard{
        box-sizing: border-box;
        padding: 10px 15px;
        border-radius: 3px;
        margin: 0 auto;
        background-color: rgb(244,69,89);
        box-shadow: 0px 0px 3px rgb(244,69,89);
        font-size: 0.87rem;
        color: rgb(255,255,255);
    }

    .fullscreen-overlay-example{
        position: absolute; // important
        top: 20vh; // important
        left: 35vw; // important
        width: 30vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        background-color: rgb(255,255,255);

        p{
            margin: auto;
        }

        .dimmed:hover{
            cursor: pointer;
        }
    }

    .rr-icons{
        width: 50vw;
        min-width: 500px;
        margin: 0 auto;
        border: 1px solid rgb(222,222,222);
        border-radius: 3px;
    }

    .rr-input-file {        
        .label {
          margin: 0 8px;
        }
    }

    .rr-revolution-popupbox-example{
        width: 50px;
        height: 50px;
        margin:0 auto;
        text-align: center;

        .rr-popupbox{
            float: left;
        }
        .icon{
            color: rgb(69,69,69);
        }
        .icon:hover{
            cursor: pointer;
        }
        .box{
            width: 200px;
            height: 100px;
            background-color: rgb(255,255,255);
        }
    }

    .rr-revolution-sidebar-example{
        position: relative;
        min-height: 300px;
        height: 50vh;
        width: 200px;
        margin: 0 10px;
        overflow: hidden;
        box-sizing: border-box;
        padding: 2px;

        .rr-sidebar{
            border: 1px solid #dadce0;
            border-radius: 3px;
            height: calc(100% - 2px); // to see the border
            width: calc(100% - 2px); // to see the border
        }
    }

    .rr-revolution-loadonscroll-example{
        min-width: 300px;
        width: 50vw;
        height: 200px;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;

        p{
            line-height: 30px;
        }
    }

    .rr-table-key-value{
        .title{
            background-color: #1873cc;

            .key,
            .value{
                color: rgb(255,255,255);
            }

            .value{
                border-left: unset;
            }
        }

        .key{
            width: 70px;
        }

        .value{
            @media screen and (min-width: 1024px){
                padding-left: 20px;                
            }
            box-sizing: border-box;
            padding-left: 5px;
            width: calc(100% - 70px);
        }
    }

    .rr-breadcrumbs-example{
        width: 100%;
        min-height: 50px;
        height: auto;
        overflow: auto;
    }
}
