.rr-scroll-to{
    .to-top,
    .to-bottom{
        width:50px;
        height:50px;
        border-radius:50%;
        background:rgba(30,50,80,7);
        cursor:pointer;
    }
    .to-top:hover,
    .to-bottom:hover{
        cursor: pointer;
    }
    .arrow{
        font-size:22px;
        font-weight: 600;
        color:rgb(255,255,255);
        text-align:center;
        line-height:45px;
    }
}