.rr-boxes{

    @keyframes animationRrBoxesFromTop10 {
        0%{
            margin-top: 10px;
        }
        100%{
            margin-top: 0px;
        }
    }

    @keyframes animationRrBoxesFromTop20 {
        0%{
            margin-top: 20px;
        }
        100%{
            margin-top: 0px;
        }
    }

    @keyframes animationRrBoxesFromTop30 {
        0%{
            margin-top: 30px;
        }
        100%{
            margin-top: 0px;
        }
    }

    @keyframes animationRrBoxesFromTop40 {
        0%{
            margin-top: 40px;
        }
        100%{
            margin-top: 0px;
        }
    }

    @keyframes animationRrBoxesFromTop50 {
        0%{
            margin-top: 50px;
        }
        100%{
            margin-top: 0px;
        }
    }

    @keyframes animationRrBoxesFromTop60 {
        0%{
            margin-top: 60px;
        }
        100%{
            margin-top: 0px;
        }
    }

    @keyframes animationRrBoxesFromTop70 {
        0%{
            margin-top: 70px;
        }
        100%{
            margin-top: 0px;
        }
    }

    @keyframes animationRrBoxesFromTop80 {
        0%{
            margin-top: 80px;
        }
        100%{
            margin-top: 0px;
        }
    }

    @keyframes animationRrBoxesFromTop90 {
        0%{
            margin-top: 90px;
        }
        100%{
            margin-top: 0px;
        }
    }

    @keyframes animationRrBoxesFromTop100 {
        0%{
            margin-top: 100px;
        }
        100%{
            margin-top: 0px;
        }
    }
    
    .box-item{
        box-sizing: border-box;
        padding: 5px 10px;    
        width: 100%;
    }
}