@import './globals.scss';

// default css is for the left site
// right site are on the bottom of this file
.rr-container-compact {
  min-height: 100vh;
  position: relative;

  .Header {
    width: 100%;
    height: var(--rr-container-compact-headerHeight);
    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom: 1px solid $border-color;
    position: fixed;
    top:0;
    left:0;
    background-color: $white;
    z-index: 2;
  }

  .Sidebar {
    width: var(--rr-container-compact-width);
    background-color: $white;
    border-right: 1px solid $border-color;
    display: block;
    overflow: auto;
    height: calc(100vh - var(--rr-container-compact-headerHeight));
    box-sizing: border-box;
    padding: 10px 20px;
    position: fixed;
    top: var(--rr-container-compact-headerHeight);
    left:0;
    scrollbar-width: thin;
  }

  .Content {
    position: relative;
    box-sizing: border-box;
    padding: 10px 20px;
    width: calc(100% - 1px - var(--rr-container-compact-width));
    top: var(--rr-container-compact-headerHeight);
    left: var(--rr-container-compact-width);
    z-index: 1;
    scrollbar-width: thin;
  }

  .Content.w-100{
    width: 100%;
    left: 0px;
  }
}

// Right site
.rr-container-compact.right {
  .Content {
    flex-direction: row-reverse !important;
  }
}
