@import './globals.scss';

.rr-pills{
    display: inline-block;

    .pill{
        background-color: rgb(222,222,222);
        box-sizing: border-box;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        border-radius: $border-radius-l;
        transition-duration: $default-transition;
    }

    .pill.selected{
        background-color: $dodgerblue;
        color: $white;
    }

    .pill:hover{
        cursor: pointer;
    }
}